@import "tailwindcss";

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.25s ease-out forwards;
  }
  .animate-scaleIn {
    animation: scaleIn 0.25s ease-out forwards;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  @keyframes scaleIn {
    from { transform: scale(0.95); opacity: 0; }
    to   { transform: scale(1); opacity: 1; }
  }
}

.btn {
  @apply bg-gray-700 text-white px-4 py-2 rounded hover:bg-gray-900 transition;
}

.btn-primary {
  @apply bg-gray-900 text-white px-4 py-2 rounded hover:bg-black transition;
}

.btn-warning {
  @apply bg-yellow-600 text-white px-3 py-1 rounded hover:bg-yellow-700 transition;
}

.btn-danger {
  @apply bg-red-700 text-white px-3 py-1 rounded hover:bg-red-800 transition;
}

.input {
  @apply w-full p-2 border rounded;
}

